<style>
  #widget-contact {
    position: relative;
    padding: 20px 20px;
    background: url(/images/bg-office.jpg) no-repeat 50% 50%;
    background-size: cover;
    color: #fff;
  }
  @media (min-width: 768px) {
    #widget-contact {
      overflow: hidden;
      border-radius: 10px;
    }
  }
  #widget-contact #video-cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  #widget-contact .container {
    position: relative;
  }
  #widget-contact .contact-types {
    margin-top: 20px;
  }
  #widget-contact .contact-types li + li {
    margin-top: 15px;
  }
</style>

<div id="widget-contact">
  <%- partial('../_partial/video-cover') %>
  <div class="container">
    <%- partial('../_partial/cases-latest') %>
    <ul class="contact-types">
      <li>
        <%- partial('../_partial/contact-card', {type: 'online'}) %>
      </li>
      <li>
        <%- partial('../_partial/contact-card', {type: 'kakao'}) %>
      </li>
      <li>
        <%- partial('../_partial/contact-card', {type: 'phone'}) %>
      </li>
    </ul>
  </div>
</div>
