<article class="article-entry" itemprop="articleBody">
  <h1><%- page.title %></h1>
</article>

<style>
  #related-services {
    margin: 0;
  }
  #related-services li {
    position: relative;
    padding: 20px;
    background-color: var(--color-off-white);
    list-style: none;
  }
  #related-services li + li {
    border-top: 1px solid var(--color-border);
  }
  #related-services li > a {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-indent: -999px;
  }
</style>

<!-- <ul id="related-services">
  <% if (['특수평가'].includes(page.title)) { %>
    <li>
      <%- partial('_partial/service-item', {item: '기업신용'}) %>
      <a href="/contact">문의하기</a>
    </li>
  <% } %>
  <% if (['특수평가'].includes(page.title)) { %>
    <li>
      <%- partial('_partial/service-item', {item: '보험상품'}) %>
      <a href="/contact">문의하기</a>
    </li>
  <% } %>
  <% if (['특수평가', '소송평가'].includes(page.title)) { %>
    <li>
      <%- partial('_partial/service-item', {item: '특수소송'}) %>
      <a href="/contact">문의하기</a>
    </li>
  <% } %>
  <% if (['상속증여평가'].includes(page.title)) { %>
    <li>
      <%- partial('_partial/service-item', {item: '상속증여절세'}) %>
      <a href="/contact">문의하기</a>
    </li>
  <% } %>
  <% if ([].includes(page.title)) { %>
    <li>
      <%- partial('_partial/service-item', {item: '부동산담보'}) %>
      <a href="/contact">문의하기</a>
    </li>
  <% } %>
  <% if ([].includes(page.title)) { %>
    <li>
      <%- partial('_partial/service-item', {item: '부동산보상'}) %>
      <a href="/contact">문의하기</a>
    </li>
  <% } %>
</ul> -->

<article class="article-entry" itemprop="articleBody">
  <%- page.content %>
</article>

<%- partial('_partial/achievement-list') %>
<div style="height: 50px;"></div>
