<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<body>
  <% if (!page.layout) { %>
    <div id="container">
      <div id="wrap">
        <div id="container-sticky">
          <%- partial('_partial/header-outer') %>
        </div>
        <%- body %>
        <%- partial('_partial/related-links', null, {cache: !config.relative_link}) %>
        <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
      </div>
      <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %>
      <%- partial('_partial/after-footer') %>
    </div>
  <% } else { %>
    <div id="container">
      <div id="wrap">
        <%- partial('_partial/header', {title: page.title, banner: page.banner}) %>
        <div class="outer">
          <section id="main">
            <%- body %>
          </section>
          <% if (theme.sidebar && theme.sidebar !== 'bottom'){ %>
            <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
          <% } %>
        </div>
        <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
      </div>
      <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %>
      <%- partial('_partial/after-footer') %>
    </div>
  <% } %>
</body>
</html>