<footer id="footer">
  <div id="footer-info">
    <figure>
      <a href="/">
        <img src="/images/logo-hightech-white.svg" height="70" alt="<%= config.company %>">
      </a>
    </figure>
    <!-- <address>
      <%= config.address %>
      &nbsp;|&nbsp;
      <a href="/careers">인재채용</a>
    </address> -->
    <ul>
      <li>
        <strong>TEL</strong>
        <a href="tel:<%= config.tel %>"><%= config.tel %></a>
      </li>
      <li>
        <strong>FAX</strong>
        <a href="tel:<%= config.fax %>"><%= config.fax %></a>
      </li>
      <li>
        <strong>EMAIL</strong>
        &nbsp;
        <a href="mailto:<%= config.email %>"><%= config.email %></a>
      </li>
    </ul>
    <p class="copyright">
      Copyright &copy; <%= date(new Date(), 'YYYY') %>
      <%= config.company || config.title %>. All rights reserved.
    </p>
  </div>
</footer>
