<div id="header-outer" class="outer">
  <!-- <div id="header-title" class="inner">
    <h1 id="logo-wrap">
      <a href="<%- url_for() %>" id="logo"><%= page.title %></a>
    </h1>
    <% if (theme.subtitle || config.subtitle){ %>
      <h2 id="subtitle-wrap">
        <a href="<%- url_for() %>" id="subtitle"><%= theme.subtitle || config.subtitle %></a>
      </h2>
    <% } %>
  </div> -->
  <div id="header-inner" class="inner">
    <nav id="main-nav">
      <a id="main-nav-toggle" class="nav-icon <%= colorScheme %>"><span class="fa fa-bars"></span></a>
      <div id="main-nav-menu">
        <a id="main-nav-logo" class="<%= colorScheme %>" href="/">
          <img
            src="/images/logo-hightech-<%= colorScheme === 'white' ? 'white' : 'black' %>.svg"
            height="45"
            alt="<%= page.company %>">
        </a>
        <% for (var i in theme.menu){ %>
          <a
            class="main-nav-link <%= colorScheme %>"
            href="<%- url_for(theme.menu[i]) %>">
            <%= i %>
          </a>
        <% } %>
        <a
          class="main-nav-link addon <%= colorScheme %>"
          href="/careers">
          💼
          인재채용
        </a>
      </div>
    </nav>
    <!-- <nav id="sub-nav">
      <% if (theme.links) { %>
        <% for (const i in theme.links) {%>
          <a class="nav-icon" href="<%- url_for(theme.links[i]) %>"><span class="fa fa-<%= i %>"></span></a>
        <% } %>
      <% } %>
      <% if (theme.rss){ %>
        <a class="nav-icon" href="<%- url_for(theme.rss) %>" title="<%= __('rss_feed') %>"><span class="fa fa-rss"></span></a>
      <% } %>
      <a class="nav-icon nav-search-btn" title="<%= __('search') %>"><span class="fa fa-search"></span></a>
    </nav>
    <div id="search-form-wrap">
      <%- search_form({button: '&#xF002;', text: __('search')}) %>
    </div> -->
  </div>
</div>