<style>
  #hero {
    position: relative;
    padding: 0 0 120%;
    background-color: var(--color-highlight);
    background-image: url("/images/bg-wtc-portrait.png"), linear-gradient(0deg, var(--color-highlight) 0%, #ffd671 100%);
    background-size: cover;
    background-position: 50% 100%;
  }
  #footages {
    position: absolute;
    bottom: 17.7%;
    left: 50%;
    height: 14.5%;
    margin: 0 0 0 -35%;
  }
  @media (min-width: 768px) {
    #hero {
      height: 100vh;
      min-height: 700px;
      padding: 0;
      background-image: url("/images/bg-wtc-landscape.png"), linear-gradient(0deg, var(--color-highlight) 0%, #ffd671 100%);
      background-position: 50% 100%;
    }
    #footages {
      margin: 0 0 0 2%;
    }
  }
  /* 기준선 테스트 할 때 사용하는 스타일 입니다. */
  /* #footages:before {
    z-index: 20;
    content: "";
    display: block;
    position: absolute;
    top: -20px;
    bottom: -20px;
    left: 0;
    width: 1px;
    background-color: #f00;
  } */
  #footage-front {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    aspect-ratio: 2.57;
    perspective: 500px;
  }
  #footage-front .footage {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0 3px 3px 0;
    transform: rotateY(38deg);
	  transform-origin: 0 0;
  }
  #footage-front .footage:before,
  #footage-front .footage:after {
    z-index: 10;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
  }
  #footage-front .footage:before {
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 5%);
  }
  #footage-front .footage:after {
    background: linear-gradient(90deg, rgba(0,0,0,0) 50%, rgba(0,0,0,0.5) 100%);
  }
  #footage-side {
    position: absolute;
    top: 0;
    right: -1px;
    bottom: 0;
    aspect-ratio: 0.82;
    perspective: 500px;
  }
  #footage-side .footage {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 4px 0 0 4px;
    transform: rotateY(-50deg);
	  transform-origin: 100% 0;
  }
  #footage-side .footage:before,
  #footage-side .footage:after {
    z-index: 10;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
  }
  #footage-side .footage:before {
    background: linear-gradient(90deg, rgba(255,255,255,0) 80%, rgba(255,255,255,1) 100%);
  }
  #footage-side .footage:after {
    background: linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 10%);
  }
  .footage video {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    object-fit: cover;
  }
</style>
<div id="hero">
  <div id="footages">
    <div id="footage-front">
      <div class="footage">
        <video autoplay loop muted playsinline>
          <source src="/videos/business-woman-1.mp4" type="video/mp4" />
        </video>
      </div>
    </div>
    <div id="footage-side">
      <div class="footage">
        <video autoplay loop muted playsinline>
          <source src="/videos/business-woman-2.mp4" type="video/mp4" />
        </video>
      </div>
    </div>
  </div>
  <!-- <style>
    #slogan-mobile {
      position: absolute;
      top: 20px;
      right: 0;
      left: 50%;
      text-align: center;
    }
    #slogan-mobile figure.logo {
      margin: 0 0 20px;
    }
    #slogan-mobile .contacts {
      display: inline-block;
      margin: 0 auto;
    }
    #slogan-mobile .contact-button {
      display: block;
      position: relative;
      width: 100px;
      padding: 12px;
      border-radius: 5px;
      background-color: #000;
      color: #fff;
      text-align: left;
      text-decoration: none;
    }
    #slogan-mobile .contact-button + .contact-button {
      margin-top: 10px;
    }
    #slogan-mobile .contact-button h3 {
      font-size: 16px;
      font-weight: normal;
    }
    #slogan-mobile .contact-button h3 i,
    #slogan-mobile .contact-button h3 img {
      position: absolute;
      top: 12px;
      right: 12px;
      font-size: 20px;
    }
    #slogan-mobile .contact-button p {
      margin-top: 10px;
      font-size: 12px;
      line-height: 1.6;
    }
  </style>
  <div id="slogan-mobile" class="only-mobile">
    <figure class="logo">
      <img
        src="/images/logo-hightech-black.svg"
        height="50"
        alt="<%= page.company %>">
      </a>
    </figure>
    <div class="contacts">
      <a class="contact-button" href="tel:<%= config.tel %>">
        <h3>
          <i class="fa fa-address-card"></i>
          전화 상담
        </h3>
        <p>
          <u><%= config.tel %></u><br>
          <%= config.author %>
        </p>
      </a>
      <a class="contact-button">
        <h3>
          <img src="/images/ui-contact-kakao.png" width="20" height="20">
          카톡 상담
        </h3>
        <p>
          ID: <%= config.kakao %>
          <br>&nbsp;
        </p>
      </a>
    </div>
  </div> -->
  <style>
    #slogan-desktop {
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translateY(-40%);
    }
    #slogan-desktop > p {
      font-size: 36px;
      font-weight: 100;
      letter-spacing: -1px;
    }
    #slogan-desktop h1 {
      margin-top: 10px;
      line-height: 55px;
      font-size: 37px;
      font-weight: 800;
      letter-spacing: -1px;
    }
    #slogan-desktop h1 strong {
      display: inline-block;
      line-height: 47px;
      padding: 4px 6px;
      border-radius: 5px;
      background-color: var(--color-highlight);
    }
    #slogan-desktop .contacts {
      margin-top: 40px;
      white-space: nowrap;
    }
    #slogan-desktop .contact-button {
      display: inline-block;
      position: relative;
      min-width: 180px;
      padding: 20px;
      border-radius: 10px;
      background-color: #000;
      color: #fff;
      text-decoration: none;
      transition: all 0.2s ease;
    }
    #slogan-desktop .contact-button + .contact-button {
      margin-left: 15px;
    }
    #slogan-desktop .contact-button:hover {
      box-shadow: 0 10px 50px -30px rgba(0, 0, 0, 0.4);
      transform: translateY(-5px);
    }
    #slogan-desktop .contact-button h3 {
      font-size: 20px;
      font-weight: bold;
    }
    #slogan-desktop .contact-button h3 i,
    #slogan-desktop .contact-button h3 img {
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 30px;
    }
    #slogan-desktop .contact-button p {
      margin-top: 12px;
      font-size: 16px;
      line-height: 22px;
    }
  </style>
  <div id="slogan-desktop" class="only-desktop">
    <p><%- config.keywords %></p>
    <h1>
      <span id="typed-1"></span>
      <strong id="typed-2" style="visibility: hidden;"></strong>
    </h1>
    <script>
      new Typed('#typed-1', {
        strings: ['<%= config.company %>'],
        startDelay: 500,
        typeSpeed: 30,
        cursorChar: '_'
      });
      new Typed('#typed-2', {
        strings: ['<%= config.author %>'],
        startDelay: 1400,
        typeSpeed: 50,
        cursorChar: '',
        preStringTyped: function () {
          $('#typed-2').css('visibility', 'visible');
        }
      });
    </script>
    <div class="contacts">
      <a class="contact-button" href="tel:<%= config.tel %>">
        <h3>
          <i class="fa fa-address-card"></i>
          전화 상담
        </h3>
        <p>
          <u><%= config.tel %></u><br>
          <%= config.author %>
        </p>
      </a>
      <a class="contact-button">
        <h3>
          <img src="/images/ui-contact-kakao.png" width="35" height="35">
          카톡 상담
        </h3>
        <p>
          ID: <%= config.kakao %>
          <br>&nbsp;
        </p>
      </a>
    </div>
  </div>
</div>

<style>
  #slogan {
    padding: 30px 0;
    background-color: var(--color-footer-background);
    color: #fff;
    text-align: center;
  }
  #slogan h1 {
    font-size: 24px;
  }
  #slogan h1 strong {
    display: block;
    font-size: 40px;
    font-weight: bold;
  }
  #slogan p {
    margin-top: 15px;
  }
</style>
<div id="slogan" class="only-mobile">
  <h1>
    <%= config.company %>
    <strong><%= config.author %></strong>
  </h1>
  <p><%- config.keywords %></p>
</div>